<nav>
  <div>
    <div class="row">
      <div class="col-3">
        <a href='/' class="header-logo" ><img src="/image/zero-w-logo_mini.png" alt="logo-img"></a>
      </div>
      <div class="col-3"></div>
      <div class="nav-items col-6 row">
        <div class="nav-item col-7"></div>
        <a class="nav-item col-2">관리</a>
        <a class="nav-item col-2">로그인</a>
        <a class="nav-item col-1"><i class="fas fa-bars"></i></a>
      </div>
    </div>
  </div>
</nav>