
<form class="newPost" method="post">
  <input type="text" name="title" placeholder="제목" value=""/>
  <input type="text" name="userName" placeholder="작성자명" value=""/>
  <input type="text" name="userPwd" placeholder="비밀번호" value=""/>
  <input type="text" name="description" placeholder="내용" value=""/>
  <input type="text" name="id" value=""/>
  <input id="update_and_home" type="submit" value="수정" formaction="/"/>
  <input id="delete_and_home" type="submit" value="삭제" formaction="/delete_post"/>
</form>
